<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h3><a class="navbar-brand" href="#">Short News</a></h3>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Country
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('in')"
                >India</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('ru')"
                >Russia</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('cn')"
                >China</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('us')"
                >United States</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('nl')"
                >Netherland</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('mx')"
                >Mexico</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('pl')"
                >Poland</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('ua')"
                >Ukraine</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCountry('tw')"
                >Taiwan</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="#"
                (click)="setCategory('business')"
                >Business</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCategory('sports')"
                >Sports</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                (click)="setCategory('entertainment')"
                >Entertainment</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                (click)="setCategory('politics')"
                >Politics</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCategory('nation')"
                >Nation</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCategory('science')"
                >Science</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCategory('health')"
                >Health</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                (click)="setCategory('technology')"
                >Technology</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setCategory('tesla')"
                >Tesla</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

<div class="container">
  <h3 style="text-align: center">
    <em>You are viewing {{ country }}: {{ category }} news</em>
  </h3>
  <app-news-home></app-news-home>
</div>
